<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Usuários</h4>
    </div>
    <div class="float-right">
      <button type="button"
        class="btn btn-primary"
        [routerLink]="['criar']"
        style="background-color: #198754; border-color: #198754;">
        Novo Usuário
      </button>
      <button type="button" class="btn btn-secondary" >Atualizar</button>
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="usuarios$ | async as usuarios; else loading">
      <thead>
        <tr>
          <th>#ID</th>
          <th>Usuário</th>
          <th>Login</th>
          <th>E-mail</th>
          <th>Senha</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.id }}</td>
          <td>{{ usuario.nome }}</td>
          <td>{{ usuario.login }}</td>
          <td>{{ usuario.email }}</td>
          <td>******</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-success mb-1 btn-sm" (click)="OnEdit(usuario.id)">
                Atualizar
              </button>

                <button
                  class="btn btn-outline-danger mb-1 btn-sm"
                  (click)="OnDelete(usuario)"
                >
                  Remover
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <ng-template #loading>
        <span>Carregando Usuários...</span>
      </ng-template>
    </div>
  </div>
</div>
