<form
  class="needs-validation"
  novalidate
  [formGroup]="form"
  style="padding-top: 10px"
>
  <!-- <div *ngIf="email.invalid && (email.dirty || email.touched)"
      class="alert alert-danger">

    <div *ngIf="email.errors?.required">
      Name is required.
    </div>
    <div *ngIf="email.errors?.maxLength">
      email must be at least 4 characters long.
    </div>
  </div> -->
  <div class="form-row">
    <div class="col-sm-12">
      <div class="form-group">
        <label for="nome">Nome do Usuário</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          placeholder="Nome do Usuário"
          formControlName="nome"
          required
        />
        <div *ngIf="nome.invalid && (nome.dirty || nome.touched)"
            class="alert alert-danger">

          <div *ngIf="nome.errors?.required">
            Nome é obrigatório!
          </div>
          <div *ngIf="nome.errors?.maxlength">
            Nome pode ter no máximo 50 caracteres!
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="login">Login: </label>
        <input
          type="text"
          class="form-control"
          id="login"
          placeholder="Digite o Login"
          formControlName="login"
          required
        />
        <div *ngIf="login.invalid && (login.dirty || login.touched)"
            class="alert alert-danger">

          <p *ngIf="login.errors?.required">
            Login é obrigatório!
          </p>
          <p *ngIf="login.errors?.maxlength">
            Nome pode ter no máximo 30 caracteres!
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="login">Email: </label>
        <input
          type="text"
          class="form-control"
          id="email"
          placeholder="Digite o e-mail"
          formControlName="email"
          required
        />
        <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">

          <p *ngIf="email.errors?.required">
            E-mail é obrigatório!
          </p>
          <p *ngIf="email.errors?.maxlength">
            E-mail pode ter no máximo 40 caracteres!
          </p>
          <p *ngIf="email.errors?.email">
            Por favor digite um E-mail válido!
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="senha">Senha: </label>
        <input
          type="password"
          class="form-control"
          id="senha"
          placeholder="Digite a Senha"
          formControlName="senha"
          required
        />
        <div *ngIf="senha.invalid && (senha.dirty || senha.touched)"
            class="alert alert-danger">

          <p *ngIf="senha.errors?.required">
            Senha é obrigatório!
          </p>
          <p *ngIf="login.errors?.maxlength">
            Senha pode ter no máximo 20 caracteres!
          </p>
        </div>
      </div>
      </div>
  </div>
  <div style="margin-top: 10px">
    <button type="submit" class="btn btn-primary" (click)="OnSubmit()" style="background-color: #198754; border-color: #198754;">
      Salvar
    </button>
    <button type="button" class="btn btn-default" (click)="OnCancel()">
      Cancelar
    </button>
  </div>
</form>
