<form
  class="needs-validation"
  novalidate
  [formGroup]="form"
  style="padding-top: 10px"
>
  <div class="form-row">
    <div class="col-sm-12">
      <div
        *ngIf="nome.invalid && (nome.dirty || nome.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="nome.errors?.required">nome é obrigatório.</div>
        <div *ngIf="nome.errors?.minlength">
          Nome deve ter pelo menos 4 caracteres.
        </div>
      </div>

      <label for="nome">Nome do Estudante</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        required
        placeholder="Nome do Estudante"
        formControlName="nome"
      />
    </div>
    <div class="col-sm-12">
      <div
        *ngIf="matricula.invalid && (matricula.dirty || matricula.touched)"
        class="alert alert-danger"
        style="margin-top: 20px"
      >
        <div *ngIf="matricula.errors?.required">matricula é obrigatório.</div>
        <div *ngIf="matricula.errors?.minlength">
          matricula deve ter pelo menos 1 caracteres.
        </div>
      </div>

      <label for="matricula" class="">Matricula do Estudante</label>
      <input
        type="text"
        class="form-control"
        id="matricula"
        required
        placeholder="Matricula do Estudante"
        formControlName="matricula"
      />
    </div>
  </div>
  <div style="margin-top: 10px">
    <button
      type="submit"
      class="btn btn-primary"
      (click)="OnSubmit()"
      [disabled]="form.invalid"
      style="background-color: #198754; border-color: #198754"
    >
      Salvar
    </button>
    <button type="button" class="btn btn-default" (click)="OnCancel()">
      Cancelar
    </button>
  </div>
</form>
