.form-control {
  width: 100%;
  /* width: 50%; */
}

/*
.needs-validation {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
  }
*/

