<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Estudante</h4>
    </div>
    <div class="float-right">
      <button
        type="button"
        class="btn btn-primary"
        [routerLink]="['criar']"
        style="background-color: #198754; border-color: #198754"
      >
        Novo Estudante
      </button>
    </div>
    <div class="card-body">
      <table
        class="table table-hover"
        *ngIf="usuarios$ | async as usuarios; else loading"
      >
        <thead>
          <tr>
            <th>ID</th>
            <th>Estudante</th>
            <th>Matricula</th>
            <th>Atualizar|Remover</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.matricula }}</td>
            <td>
              <span class="float-right">
                <button
                  class="btn btn-outline-success mb-1 btn-sm"
                  (click)="OnEdit(usuario.id)"
                >
                  Atualizar
                </button>

                <button
                  class="btn btn-outline-danger mb-1 btn-sm"
                  (click)="OnDelete(usuario)"
                >
                  Remover
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>

      <ng-template #loading>
        <span>Carregando Usuários...</span>
      </ng-template>
    </div>
  </div>
</div>
