<nav id = #head class="navbar navbar-expand-lg navbar-light bg-faded" style="background-color: #0c681c;">
  <a class="navbar-brand"><strong>CRUD</strong> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/usuarios']" style="color: #ffff;"><strong>USUÁRIO</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/busca-reativa']" style="color: #ffff;"><strong>PESQUISAR</strong></a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
