<div class="container search-table">
  <div class="search-box">
    <div class="row">
      <div class="col-md-9">
        <input
          type="text"
          id="myInput"
          class="form-control"
          [formControl]="queryField"
          placeholder="Pesquisar usuários"
        />
      </div>
      <div class="col-auto">
        <button class="but btn-lg btn-success" (click)="onSearch()">Pesquisar</button>
      </div>
    </div>
  </div>
  <div class="search-list">
    <h3>{{ total }} Registros encontrados.</h3>
    <table class="table" id="myTable">
      <thead>
        <tr>
          <th>Id</th>
          <th>Nome</th>
          <th>Login</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let result of results$ | async">
          <td>{{ result.id }}</td>
          <td>{{ result.nome }}</td>
          <td>{{ result.login }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
