.search-table{
  padding: 10%;
  margin-top: -6%;
}
.search-box{
  // background: #c1c1c1;
  border: 1px solid #ababab;
  padding: 3%;
}
.search-box input:focus{
  box-shadow:none;
  border:2px solid #eeeeee;
}
.search-list{
  background: #fff;
  border: 1px solid #ababab;
  border-top: none;
}
.search-list h3{
  background: #eee;
  padding: 3%;
  margin-bottom: 0%;
  color: black;
}
.col-md-9 {
  margin-top: 6.5px;
}
